# dev setup
/.vscode

# rust / toolchain
/target
/.cargo
/rust-toolchain.toml

# selenium drivers for testing
/chromedriver*
/geckodriver*

# cargo flamegraph
/flamegraph.svg
/perf.data
/perf.data.old

# coverage reports
/coverage.cobertura.xml

# samply
/profile.json


# rust compiler ICEs
/rustc-ice-*

# debug log outputs in the root directory
/*.html
