# dev setup
/.vscode

# rust / toolchain
/target
/.cargo
/rust-toolchain.toml

# selenium drivers for testing
/chromedriver*
/geckodriver*

# benchmarking output
/flamegraph.svg
/perf.data
/perf.data.old
/coverage.cobertura.xml
/rustc-ice-*

# debug log outputs in the root directory
/*.html
