<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>SCR Debug Log</title>
        {{! for now to facilitate debugging !}}
        <link rel="stylesheet" href="style.css">
        {{! <style> reindent 12 style </style> !}}
        <script>
            function toggle_field_list(field_list_id, collapsed_id) {
                let field_list = document.getElementById(field_list_id);
                let collapsed = document.getElementById(collapsed_id);
                if (field_list.style.display == "none") {
                    field_list.style.display = "flex";
                    collapsed.style.display = "none";
                }
                else {
                    field_list.style.display = "none";
                    collapsed.style.display = "flex";
                }
            }
        </script>
    </head>

    <body>
