body {
    background-color: linen;
}

.transform-update {
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-top: 2px solid black;
}

.field-list {
    display: flex;
}

.chain {
    display: flex;
    gap: 0.4em;
    margin-bottom: 0.4em;
}

.chain > .transform {
    display: flex;
    flex-direction: column;
}

.collapsed-field-separator {
    background: repeating-linear-gradient(
        45deg,
        #ccc,
        #ccc 0.5em,
        #bbb 0.5em,
        #bbb 1em
    );
    height: 100%;
    min-height: 3em;
}

.transform > .transform_name {
    background-color: lightsteelblue;
    margin-bottom: 0.4em;
    padding: 0.1em 0.2em;
    white-space: nowrap;
    min-width: 5em;
    min-height: 1.5em;
}

.transform-chain {
    display: flex;
    gap: 0.4em;
}

.field-list {
    display: flex;
    gap: 0.4em;
}

.field-container {
    display: inline-block;
}

.field {
    background-color: lightgray;
    display: inline-block;
    white-space: nowrap;
}

.field .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field .field-owned-info {
    background-color: rgb(115, 116, 119);
    padding: 0.1em 0.2em;
    white-space: nowrap;
}

.field .field-cow-info {
    background-color: mediumpurple;
    padding: 0.1em 0.2em;
    white-space: nowrap;
}

.field .field-name {
    flex-grow: 1;
    text-align: center;
    padding: 0.1em 0.2em;
    font-style: italic;
}

.field .field-id {
    font-weight: bold;
    padding: 0.1em 0.2em;
    font-family: monospace;
    font-size: larger;
}

.field .ref-list {
    display: flex;
    padding: 0.1em 0;
    border-top: none;
    border-bottom: none;
}

.field .ref-list .desc {
    padding-left: 0.2em;
}

.field .ref-list .ref {
    background-color: orange;
    display: inline-block;
    padding: 0 0.2em;
    margin: 0.1em;
    border: 1px solid black;
}

.field {
    border-collapse: collapse;
    text-align: center;
}

.field td {
    border: 1px solid black;
}

.field th {
    text-align: center;
    font-weight: normal;
    border: 1px solid black;
}

.field .meta-list {
    display: flex;
}

.field .copy {
    opacity: 0.5;
}

.field .meta-list .padding {
    background-color: rgb(43, 43, 45);
    color: white;
    margin-inline: 0.1em;
    padding-inline: 0.15em;
}

.field .meta-list .data_type {
    background-color: cornsilk;
    padding-inline: 0.15em;
    margin-inline: 0.1em;
    flex-grow: 1;
}

.field .meta-list > .flag {
    padding-inline: 0.15em;
    margin-inline: 0.1em;
    border: 1px solid black;
}

.field .meta-list > .flag.flag_deleted {
    background-color: crimson;
}
.field .meta-list > .flag.flag_same_as_prev {
    background-color: royalblue;
}
.field .meta-list > .flag.flag_shared {
    background-color: mediumseagreen;
}

.field .meta-list > .flag.flag_disabled {
    background-color: rgb(184, 185, 190);
}

.field .iter-list {
    display: flex;
}

.iter {
    background-color: orange;
    padding: 0 0.4em;
    border: 1px solid black;
    margin: 1px;
}
