body {
    background-color: linen;
    overflow: scroll;
}
.display_order {
    border-left: 0.6em solid black;
}
th,
td {
    white-space: nowrap;
}
.field_list_entry {
    vertical-align: top;
}
.field_desc {
    background-color: darkgray;
}
.field_cell {
    border: 1px solid black;
    height: 25px;
}
.field_row {
    background-color: darkgray;
    border: 1px solid black;
    height: 25px;
}
.dead_row {
    height: 32px;
}
.meta_head {
    background-color: #daa4bd;
}
.rl_head {
    background-color: #afe086;
}
.size_head {
    background-color: #aae7e4;
}
.data_head {
    background-color: #ffb66c;
}
.field {
    background-color: black;
}
.data {
    text-align: center;
}
.rl {
    text-align: center;
}
.size {
    text-align: center;
}
.meta {
    text-align: center;
}
.meta_main {
    background-color: lightgray;
    width: 50px;
}
.meta_padding {
    background-color: rgb(48, 46, 46);
    color: white;
    width: 10px;
    text-align: center;
}
.transform_entry {
    background-color: lightgray;
}
.meta.flag {
    width: 2px;
    border: 1px solid black;
}
.flag_disabled {
    background-color: transparent;
}
.flag_same_as_prev {
    background-color: cornflowerblue;
}
.flag_shared {
    background-color: green;
}
.flag_deleted {
    background-color: red;
}
.flag_shadow {
    opacity: 0.5;
}
