<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>SCR Debug Log</title>
        {{#if debug_style_sheet}}
        <link rel="stylesheet" href="style.css">
        {{else}}
        <style>
            {{{reindent 12 style}}}
        </style>
        {{/if}}

        <script>
            function toggle_collapsable(collapsable_id, collapsed_id) {
                let collapsable = document.getElementById(collapsable_id);
                let collapsed = document.getElementById(collapsed_id);
                if (collapsable.style.display == "none") {
                    collapsable.style.display = "flex";
                    collapsed.style.display = "none";
                }
                else {
                    collapsable.style.display = "none";
                    collapsed.style.display = "flex";
                }
            }
            function highlight(id) {
                let highlightable = document.getElementById(id);
                highlightable.classList.add('highlighted')
            }
            function unhighlight(id) {
                let highlightable = document.getElementById(id);
                highlightable.classList.remove('highlighted')
            }
        </script>
    </head>
    <body>
