<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>SCR Debug Log</title>
        <!-- dss: {{debug_style_sheet}} -->
        {{#if debug_style_sheet}}
        <link rel="stylesheet" href="style.css">
        {{else}}
        <style>
            {{> stylesheet}}
        </style>
        {{/if}}
        {{#if debug_style_sheet}}
        <script src="script.js"></script>
        {{else}}
        <script>
            {{> script}}
        </script>
        {{/if}}
    </head>
    <body>
