body {
    background-color: linen;
}

.transform-update {
    padding: 0.5em;
    margin: 0.5em 0;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.transform-update .transform-update-text {
    background-color: cornflowerblue;
    margin-bottom: 0.5em;
}

.transform-chain {
    display: flex;
    gap: 0.4em;
    width: fit-content;
}

.chain-list {
    gap: 0.4em;
    display: flex;
    flex-direction: column;
}

.match-set-container {
    border: 3px solid black;
}

.match-set {
    white-space: nowrap;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding: 0.5em;
}

.match-set-body {
    display: flex;
}

.match-set-name {
    padding-inline: 0.5em;
    line-height: 1.8em;
    height: 1.8em;
    background-color: aqua;
}

.match-set-body {
    display: flex;
    flex-grow: 1;
    gap: 0.4em;
    width: fit-content;
}

.field-list {
    display: flex;
}

.group-track-list {
    display: flex;
}

.transform-container {
    display: flex;
    flex-direction: column;
    background-color: linen;
    flex-grow: 1;
}

.transform-name {
    background-color: lightsteelblue;
    white-space: nowrap;
    padding-inline: 0.5em;
    line-height: 1.8em;
    height: 1.8em;
}

.transform-body {
    display: flex;
    flex-grow: 1;
    gap: 0.4em;
}

.collapsed-transform-container {
    background: repeating-linear-gradient(
        45deg,
        rgb(148, 175, 210),
        rgb(148, 175, 210) 0.5em,
        rgb(176, 196, 222) 0.5em,
        rgb(176, 196, 222) 1em
    );
}

.collapsed-transform-container .transform-name {
    writing-mode: vertical-lr;
    padding-inline: 0.5em;
    width: 1.8em;
    line-height: 1.8em;
    background: none;
    height: auto;
}

.collapsed-match-set-body {
    background: repeating-linear-gradient(
        45deg,
        rgb(0, 230, 230),
        rgb(0, 230, 230) 0.5em,
        rgb(0, 255, 255) 0.5em,
        rgb(0, 255, 255) 1em
    );
    height: 100%;
    min-height: 2em;
    min-width: 2em;
}

.transform-update-body {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
}

.collapsed-transform-update-body {
    background: repeating-linear-gradient(
        45deg,
        rgb(87, 129, 208),
        rgb(87, 129, 208) 0.5em,
        rgb(100, 149, 237) 0.5em,
        rgb(100, 149, 237) 1em
    );
    height: 100%;
    min-height: 2em;
}

.collapsed-field-container {
    background: repeating-linear-gradient(
        45deg,
        rgb(193, 197, 204),
        rgb(193, 197, 204) 0.5em,
        rgb(166, 170, 176) 0.5em,
        rgb(166, 170, 176) 1em
    );
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-width: 1em;
}

.collapsed-field-container .field-id {
    padding-inline: 0.5em;
    font-weight: bold;
}

.field-list {
    display: flex;
    gap: 0.4em;
    flex-grow: 1;
}

.field-container {
    display: inline-block;
    flex-grow: 1;
}

.highlighted {
    background: none !important;
    background-color: red !important;
}

.transform {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.4em;
}

.field .header {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100%;
}

.group-track .header {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    gap: 0.2em;
}

.field .header-row {
    padding: 0.15em;
}
.group-track .header-row {
    padding: 0.15em;
}

.field-row.dead-row td {
    border-top: 0px;
    border-bottom: 0px;
}

.group-track-row.dead-row td {
    border-top: 0px;
    border-bottom: 0px;
}

.dead-row-placeholder {
    visibility: hidden;
    display: flex;
}

.field .header .field-id {
    font-weight: bold;
    font-family: monospace;
    font-size: larger;
    justify-self: start;
    padding-inline: 0.2em;
}
.dirty .field-id {
    background-color: yellow;
}

.group-track .header .group-track-id {
    font-weight: bold;
    font-family: monospace;
    font-size: larger;
    justify-self: start;
    padding-inline: 0.2em;
}

.group-track-tag {
    background-color: rgb(129, 192, 129);
    white-space: nowrap;
    justify-self: end;
    padding-inline: 0.2em;
}

.field .header .field-name {
    flex-grow: 1;
    text-align: center;
    font-style: italic;
    justify-self: center;
    padding-inline: 0.2em;
}

.field .header .field-producing-arg {
    white-space: nowrap;
    justify-self: center;
    padding-inline: 0.2em;
}

.field .header .field-owned-info {
    white-space: nowrap;
    justify-self: end;
    padding-inline: 0.2em;
}

.field-owned-info.field-is-cow.full-cow {
    background-color: rgb(187, 159, 243);
}
.field-owned-info.field-is-cow.data-cow {
    background-color: rgb(244, 136, 106);
}

.field-owned-info.field-is-owned {
    background-color: rgb(155, 156, 159);
}

.ref-list {
    display: flex;
    padding: 0.1em 0;
    border-top: none;
    border-bottom: none;
}

.ref-list .desc {
    align-self: center;
}

.ref-list .ref {
    background-color: rgb(250, 115, 187);
    display: inline-block;
    padding-inline: 0.3em;
    margin-inline: 0.2em;
    /* border: 1px solid black; */
}

.ref-list .ref.size-placeholder {
    width: 0px;
    visibility: hidden;
    padding-inline: 0;
    margin-inline: 0;
}

.group-track .ref-list .group-track-parent {
    display: inline-block;
    white-space: nowrap;
    background-color: lightgreen;
}

.field {
    position: relative;
    background-color: lightgray;
    border-collapse: collapse;
    text-align: center;
}

.group-track {
    background-color: lightgray;
    border-collapse: collapse;
    text-align: center;
}

.field td {
    border: 1px solid black;
}

.group-track td {
    border: 1px solid black;
}

.field th {
    text-align: center;
    font-weight: normal;
    border: 1px solid black;
}

.group-track th {
    text-align: center;
    font-weight: normal;
    border: 1px solid black;
}

.field .meta-list {
    display: flex;
}

.field .copy {
    opacity: 0.5;
}

.field .meta-list .padding {
    color: white;
    margin-inline: 0.1em;
    padding-inline: 0.2em;
    text-align: center;
}

.padding.padding-zero {
    background-color: rgb(43, 43, 45);
}

.padding.padding-non-zero {
    background-color: rgb(76, 85, 184);
}

.field .meta-list .data_type {
    background-color: cornsilk;
    padding-inline: 0.15em;
    margin-inline: 0.1em;
    flex-grow: 1;
}

.field .meta-list > .flag {
    padding-inline: 0.15em;
    margin-inline: 0.1em;
    border: 1px solid black;
}

.field .meta-list > .flag.flag_deleted {
    background-color: crimson;
}
.field .meta-list > .flag.flag_same_as_prev {
    background-color: royalblue;
}
.field .meta-list > .flag.flag_shared {
    background-color: mediumseagreen;
}

.field .meta-list > .flag.flag_disabled {
    background-color: rgb(184, 185, 190);
}

.flag-shadow {
    opacity: 50%;
}

.iter-list {
    display: flex;
    flex-wrap: nowrap;
}

.iter-list-descriptor-wrapper {
    display: flex;
}

.iter-list-descriptor {
    align-self: center;
}

.iter-list .iter.iter-placeholder {
    width: 0px;
    visibility: hidden;
    padding-inline: 0px;
    margin-inline: 0px;
}

.iter {
    background-color: rgb(254, 190, 87);
    padding-inline: 0.3em;
    margin-inline: 0.2em;
    /* border: 1px solid black; */
}

.stream-value-subscriber-list {
    display: flex;
    flex-wrap: nowrap;
}

.stream-value-subscriber-placeholder {
    width: 0px;
    visibility: hidden;
    padding-inline: 0px;
    margin-inline: 0px;
    margin-block: 0.1em;
}

.stream-value-subscriber {
    background-color: rgb(254, 190, 87);
    padding-inline: 0.3em;
    margin-right: 0.2em;
    margin-block: 0.1em;
    /* border: 1px solid black; */
}

.tooltip-parent {
    position: relative;
}

.tooltip-text {
    position: absolute;
    top: 0%;
    left: 50%;
    z-index: 1;
    text-align: center;
    padding: 0.2em;
    border-radius: 0.3em;
    transform: translate(-50%, -100%) translateY(-0.5em);
    background-color: #444;
    color: white;
    visibility: hidden;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
}

.tooltip-parent:hover .tooltip-text {
    visibility: visible;
    text-align: left;
}

.stream-value-container {
    white-space: nowrap;
    border: 3px solid black;
    gap: 0.4em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.stream-values-header {
    padding-inline: 0.5em;
    line-height: 1.8em;
    height: 1.8em;
    background-color: rgb(115, 0, 255);
    color: white;
}

.stream-values-table {
    position: relative;
    background-color: lightgray;
    border-collapse: collapse;
    text-align: center;
}

.collapsed-stream-values {
    background: repeating-linear-gradient(
        45deg,
        rgb(137, 60, 238),
        rgb(137, 60, 238) 0.5em,
        rgb(132, 33, 171) 0.5em,
        rgb(132, 33, 171) 1em
    );
    display: flex;
    flex-grow: 1;
    min-width: 1em;
}

.stream-values-table th {
    border: 1px solid black;
}

.stream-values-table td {
    border: 1px solid black;
}

.stream-value-data-table {
    border-collapse: collapse;
    border: none;
}

.stream-value-data-table-parent {
    padding: 0px;
}

.stream-value-data-table th {
    border-top: none;
}

.stream-value-data-table :is(th, td):first-of-type {
    border-left: none;
}

.stream-value-data-table :is(th, td):last-of-type {
    border-right: none;
}

.stream-value-data-table tr:last-of-type td {
    border-bottom: none;
}
